* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

header {
    width: 100%;
    font-size: 12px;
    color: white;
}

nav {
    height: 95px;
    width: 100%;
    background-color: #172237;
}

p {
    display: inline-block;
    width: 30%;
}

.nav1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1px;
    text-decoration: none;
    text-transform: capitalize;
}

.nav1 a {
    color: white;
    text-decoration: none !important;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    margin-top: 15px;
    margin-left: 8px;
    width: 10rem;
}

.search-bar {
    width: 50%;
    background-color: rgb(231, 82, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

#search {
    width: 94%;
    height: 35px;
    color: black;
    padding-left: 7px;
    border: none;
    border-radius: 2px;
    outline: none;
}

#search-icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-cart {
    width: 60px;
    font-size: 14px;
    align-content: center;
    padding-left: 150px;
}

.nav-cart,
.sign-in,
#search-icon:hover {
    cursor: pointer;
}

.sign-in {
    width: 70px;
    font-size: 14px;
    align-content: center;
    padding-right: 50px;
    color: white;
}

.sign-in a {
    color: white;
    font-weight: 700;
}

#cart,
#sign,
#search-icon {
    font-size: large;
}

.nav2 a {
    font-weight: bolder;
    color: white;
    text-decoration: none !important;
}

.hero-section {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    background-color: rgb(226, 226, 243);
}

.box {
    width: 10%;
    padding: 10px;
}

.categories {
    width: 100%;
    padding: 20px;
    background-color: white;
    color: black;
}

.categories:hover {
    box-shadow: 10px 5px 5px grey;
    transform: scale(1.01);
}

ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    list-style-type: none;
}

.hero-img {
    display: inline-block;
    width: 51%;
    color: black;
}

.hero-img img {
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.hero-img img:hover {
    box-shadow: 10px 5px 5px grey;
    scale: 1.02;
}

.box-images {
    display: inline-block;
    width: 30%;
    height: 350px;
    margin-right: 17px;
}

.image {
    width: 100%;
    height: 50%;
}

.image:hover {
    box-shadow: 10px 5px 5px grey;
    scale: 1.02;
}

.options {
    width: 100%;
    padding: 17px;
    font-size: 18px;
    background-color: rgb(226, 226, 239);
}

#sale {
    float: left;
}

#view-all {
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 2px;
    background-color: rgba(66, 66, 205, 0.861);
    float: right;
}

.section1,
.section2,
.section3 {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

.images {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
}

.images:hover {
    box-shadow: 10px 5px 5px grey;
    cursor: pointer;
}

#off {
    background-color: white;
    border: 0.2px solid rgb(184, 180, 180);
    border-radius: 3px;
    color: rgb(184, 180, 180);
    height: 25px;
    width: 55px;
}

.img1 {
    width: 10%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.captions {
    text-align: left;
    font-size: 12px;
}

.captions a {
    text-decoration-style: none;
}

.new-price {
    font-size: 12px;
    font-weight: 600;
    color: rgb(15, 182, 112);
}

.old-price {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-decoration: line-through;
    color: rgb(202, 34, 34);
}

.img2,
.img3,
.img4,
.img5,
.img6 {
    width: 12%;
    height: 300px;
}

.img2 {
    width: 12%;
    margin-left: 95px;
}

.img2 img,
.img3 img,
.img4 img,
.img5 img,
.img6 img {
    width: 100%;
}

button {
    background-color: rgb(15, 182, 112);
    width: 50px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 7px;
    outline: none;
    margin: 10px 5px 10px 0px;
}

.section4 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 239);
}

.section4 img {
    padding: 20px 20px 0px 20px;
    float: left;
    width: 50%;
}

.download {
    font-size: 20px;
    width: 50%;
    margin-left: 70px;
}

.download pre {
    font-size: 15px;
}

.download img {
    padding: 40px;
    width: 200px;
}

.section5 {
    width: 97.53%;
    padding: 20px;
    padding-right: 10px;
    font-size: 15px;
}

.section5 h3 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer1 {
    height: 200px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172237;
    color: white;
}

.footer-left {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 0px;
    font-size: 13px;
}

.footer-right {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 0px;
    border-left: 2px solid white;
}

#list1,
#list2 {
    padding: 20px;
}

.footer2 {
    height: 40px;
    border-top: 0.2px solid white;
    background-color: #172237;
    color: white;
}

.footer2 p {
    padding: 7px;
    padding-left: 45%;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    nav {
        width: 100%;
        height: 300px;
        background-color: #172237;
    }

    .nav1,
    .nav2,
    .hero-section,
    .section4 {
        flex-direction: column;
        align-items: center;
    }

    .nav1 p {
        width: 100%;
        text-align: center;
        font-weight: 900;
        padding-bottom: 15px;
    }

    .nav1 a {
        padding: 5px;
        font-weight: 600;
    }

    .nav1 img {
        display: none;
    }

    .nav2 {
        margin-top: 20px;
    }

    #logo {
        margin: 5px;
    }

    .search-bar {
        margin: 5px;
        width: 85%;
    }

    .nav-cart,
    .sign-in {
        display: none;
    }

    .box {
        width: 100%;
    }

    .categories {
        background-color: white;
        width: 100%;
        padding: 20px;
    }

    ul {
        font-size: 15px;
    }

    .hero-img,
    .box-images,
    .image {
        width: 100%;
        margin-bottom: 10px;
    }

    .hero-img img,
    .box-images {
        width: 90%;
    }

    .image {
        width: 100%;
    }

    .options {
        width: 95%;
        padding: 15px;
    }

    #sale {
        padding-top: 10px;
    }

    .section1,
    .section2,
    .section3 {
        width: 100%;
        height: auto;
        margin: 10px 5px 5px 5px;
    }

    .images {
        background-color: white;
        width: 100%;
    }

    .images:hover {
        box-shadow: 10px 5px 5px grey;
        cursor: pointer;
    }

    .img1 {
        width: 40%;
        margin-top: 25px;
    }

    .img1 img {
        width: 100%;
    }

    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 35%;
        padding: 10px;
    }

    .img2 img {
        width: 100%;
    }

    .img3 img {
        width: 100%;
    }

    .img4 img {
        width: 100%;
    }

    .img5 img {
        width: 100%;
    }

    .img6 img {
        width: 100%;
    }

    .section4 {
        width: 100%;
    }

    .section4 img {
        width: 100%;
    }

    .download {
        margin-top: 20px;
        font-size: 12px;
        width: 100%;
    }

    .download pre {
        font-size: 10px;
    }

    .download img {
        padding-top: 20px;
        width: 180px;
    }

    .footer1 {
        flex-direction: row;
        height: 250px;
        width: 100%;
        padding: 15px;
    }

    .footer-left {
        width: 60%;
        padding: 15px;
        margin-top: 25px;
        font-size: 10px;
    }

    .footer-left ul {
        font-size: 10px;
        padding: 5px;
    }

    .footer-right {
        width: 40%;
        height: 100%;
        margin-left: 7px;
        border-left: 2px solid white;
    }

    .footer-right ul {
        font-size: 10px;
        padding: 5px;
    }

    .footer2 p {
        width: 100%;
        height: 25px;
        border-top: 0.2px solid white;
        background-color: #172237;
        font-size: 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    * {
        box-sizing: border-box;
    }

    nav {
        width: 100%;
        height: 140px;
    }

    .nav1,
    .nav2,
    .hero-section,
    .section4 {
        align-items: center;
    }

    .nav1 p {
        padding: 5px;
    }

    .nav1 a {
        font-size: 12px;
        justify-content: space-evenly;
        padding: 10px;
    }

    .nav2 {
        margin: 5px;
    }

    .search-bar {
        margin: 10px;
        margin-top: 25px;
        width: 100%;
    }

    .nav-cart {
        width: 30%;
        padding-left: 30px;
    }

    .sign-in {
        padding: 25px;
        width: 30%;
    }

    .hero-section {
        padding-top: 10px;
        width: 100%;
    }

    .box {
        width: 25%;
    }

    .categories {
        background-color: white;
        width: 100%;
        margin-bottom: 10px;
    }

    ul {
        font-size: 15px;
    }

    .hero-img {
        width: 75%;
        margin-bottom: 10px;
    }

    .hero-img img {
        height: 350px;
        width: 90%;
    }

    .box-images {
        width: 75%;
        height: 450px;
    }

    .image {
        align-items: center;
        margin-left: 70px;
        width: 100%;
    }

    .options {
        width: 95%;
        padding: 15px;
    }

    #sale {
        padding-top: 10px;
    }

    .section1,
    .section2,
    .section3 {
        width: 100%;
        height: auto;
        margin: 10px 5px 5px 5px;
    }

    .images {
        background-color: white;
        width: 100%;
    }

    .images:hover {
        box-shadow: 10px 5px 5px grey;
        cursor: pointer;
    }

    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 25%;
        padding: 10px;
    }

    .details {
        font-size: 12px;
    }

    .section4 {
        width: 100%;
        margin-top: 10px;
    }

    .section4 img {
        width: 100%;
    }

    .download {
        margin-top: 10px;
        font-size: 14px;
        width: 100%;
    }

    .download pre {
        font-size: 12px;
    }

    .download img {
        padding-top: 20px;
        width: 180px;
    }

    .footer-left ul {
        margin-top: 15px;
        font-size: 12px;
        padding: 5px;
    }

    .footer-right ul {
        margin-top: 15px;
        font-size: 12px;
        padding: 5px;
    }

    .footer2 p {
        width: 100%;
        border-top: 0.2px solid white;
    }
}

@media screen and (min-width: 993px) and (max-width: 1095px) {

    .section1,
    .section2,
    .section3 {
        width: 100%;
        height: auto;
        margin: 10px 5px 5px 5px;
    }

    .images {
        background-color: white;
        width: 90%;
    }

    .images:hover {
        box-shadow: 10px 5px 5px grey;
        cursor: pointer;
    }

    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 10%;
        padding: 20px;
        height: auto;
    }

    /* .img6 {
        display: none;
    } */
    .details {
        padding-top: 10px;
        font-size: 12px;
    }
}